@import "tailwindcss";

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}


@custom-variant dark (&:where(.dark, .dark *));

/* ─── Base / Reset ─────────────────────────────────────────── */
body {
  background-color: white;
  color: #0f0f0f;
  font-family: "Geist", sans-serif;
}

.dark body {
  background-color: #0a0a0b;
  color: white;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body::-webkit-scrollbar {
    width: 2px;
}

@theme {
  --font-fira: "Fira Code", monospace;
  --font-goggle: "Google Sans", sans-serif;
}

h2{
  margin: 0;
}

#footer {
    clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);
  }

.footer-giant-text {
    position: absolute;
    bottom: 0px; left: 50%;
    transform: translateX(-50%);
    font-size: 4.6rem;
    max-width: 100vw;
    overflow: hidden;
    font-weight: 900;
    line-height: 0.85; letter-spacing: -0.02em;
    background: linear-gradient(
      to bottom,
    rgba(15, 15, 15, 0.8) 0%, #0F0F0F 28%, rgba(15, 15, 15, 0.8) 48%,
      #0F0F0F 65%, rgba(90, 90, 90, 0.7) 80%, rgb(90, 90, 90) 100%
    );
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    background-clip: text;
    white-space: nowrap; pointer-events: none; z-index: 1;
  }


  .dark .footer-giant-text {
    background: linear-gradient(
      to bottom,
      rgb(229, 229, 229) 0%, #D0D0D0 28%, #ABABAB 48%,
      #7a7a7a 65%, rgba(100,100,100,0.45) 80%, rgba(80,80,80,0.15) 100%
    );
    -webkit-background-clip: text; -webkit-text-fill-color: transparent;
    background-clip: text;
  }


  @media screen and (min-width: 1024px) {
  .footer-giant-text {
    font-size: clamp(10.5rem, 10vw, 11.2rem);
  }
}