@import "tailwindcss";

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* ─── Base / Reset ─────────────────────────────────────────── */
body {
  background-color: black;
  color: white;
  font-family: "Geist", sans-serif;
}

@theme {
  --font-fira: "Fira Code", monospace;;
  --font-goggle: "Google Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 2px;
}


